---
import Layout from "../layouts/Layout.astro";
const { isLoggedIn } = Astro.locals;
---

<Layout>
  <header class="py-8 text-center">
    <h1 class="font-heading text-4xl font-bold">
      Bienvenido a la plataforma de gestión escolar
    </h1>
    <p class="mt-4 text-lg text-gray-600">
      Administra tus estudiantes, grupos y más de manera eficiente.
    </p>
  </header>
  {
    isLoggedIn ? (
      <>
        <div class="flex justify-center join">
          <a href="/groups" class="btn join-item">
            Ver cursos
          </a>
          <a href="/students" class="btn join-item">
            Ver estudiantes
          </a>
        </div>
        <div class="justify-center mt-6 flex">
          <a href="/flashcards" class="btn">
            Ver tarjetas de memoria
          </a>
        </div>
      </>
    ) : (
      <div class="flex flex-col items-center gap-4">
        <p class="text-gray-600">Para comenzar debes iniciar sesión.</p>
        <a href="/login" class="btn">
          Iniciar Sesión
        </a>
      </div>
    )
  }
</Layout>
