---
import StudentList from "@/components/StudentList.astro";
import Layout from "@/layouts/Layout.astro";
import { db } from "@/lib/database";

const { id } = Astro.params;
if (!id || isNaN(Number(id))) {
  return Astro.redirect("/groups");
}
const group = await db.groups.getById(Number(id));
if (!group) {
  return Astro.redirect("/groups");
}

const students = await db.students.getByGroupId(Number(id));
---

<Layout>
  <div class="flex w-full h-full flex-col">
    <h1>{group.year}° {group.letter}</h1>
    <StudentList
      students={students.map((student) => ({ ...student, ...group }))}
    />
  </div>
</Layout>
