---
import Layout from "@/layouts/Layout.astro";
import { db } from "@/lib/database";

const groups = await db.groups.getAll();
---

<Layout>
  <header class="p-4">
    <h1 class="text-2xl text-center">Grupos</h1>
  </header>
  <main>
    <ul class="flex flex-wrap gap-4 max-w-4xl mx-auto justify-center">
      {
        groups.map((group) => (
          <li>
            <a class="card shadow" href={`/groups/${group.id}`}>
              <div class="card-body">
                <span class="card-title justify-center">
                  {group.year}° {group.letter}
                </span>
                <span class="text-center">
                  {group.student_count} estudiantes
                </span>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
