---
import { db } from "@/lib/database";

const students = await db.students.getAll();
---

<h1 class="text-5xl font-">Estudiantes</h1>
<ul>
  {
    students.map((student) => (
      <li>
        <a href={`/students/${student.id}`}>
          {student.name} {student.lastName}
        </a>
      </li>
    ))
  }
</ul>
